.container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.form__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
    text-align: initial;
}

.form__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem;
}

.form__requisitions {
    font-size: 1.2rem;
    margin: 1em;
}

.requisition__request {
    font-weight: 700;
    line-height: 1.5;
    padding: 0 0 .1rem 1rem;
}

.requisition__answer {
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px;
    color: #000;
    display: block;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    width: 50vw;
}

.form__btn {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-family: 'Merriweather', 'sans-serif';
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
    padding: 1rem 3rem;
}

.form__btn:hover {
    background-color: rgb(22, 22, 22);
}